<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<style>
    .circle-number {
        width: 1.5em;
        height: 1.5em;
        background-color: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: relative;
    }

    .inbox{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inbox span{
        position: absolute;
        top: -1.2em;
    }

    @media (max-width: 575px) {
        .cont-nav{
            display: flex !important;
            justify-content: center !important;
            align-items: center!important;
        }
        .navbar-nav {
            flex-direction: row !important;
        }
        .cont-nav > .cont-ul{
            justify-content: center !important;
        }
    }
</style>
<body>
    <div class="container d-flex justify-content-center mt-1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;">
            <div class="container-fluid cont-nav">
                <a class="navbar-brand fst-italic" href="{% url 'home' %}" style="font-size: 2em;">
                    <i style="color: #0d6efd;" class="bi bi-shop"></i> MyMarketPlace
                </a>
                <div class="collapse navbar-collapse d-flex justify-content-end cont-ul" id="navbarNav">
                    <ul class="navbar-nav d-flex flex-wrap flex-sm-row flex-column gap-2">
                        <li class="nav-item">
                        <a class="btn btn-secondary" href="{% url 'new_item' %}">New item</a>
                        </li>
                        <li class="nav-item">
                        <a class="btn btn-danger" href="{% url 'search' %}">Browse</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="btn btn-secondary" href="{% url 'dashboard:index' %}">Dashboard</a>
                            </li>    
                            <li class="nav-item">
                                <a class="{% if num_messages %}new-messages{% endif %} inbox btn btn-primary text" href="{% url 'conversation:inbox' %}">
                                    Inbox
                                    {% if num_messages %}
                                        <span class="circle-number new-messages">{{num_messages}}</span>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-secondary" href="{% url 'logout' %}">Logout</a>
                            </li>    
                            <li class="nav-item">
                                <i class="bi bi-person-fill" style="font-size: 1.5em; color:#38E54D">
                                    {{request.user}}
                                </i>
                            </li>    
                        {% else %}
                            <li class="nav-item">
                                <a class="btn btn-primary" href="{% url 'signup' %}">Sign up</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-secondary" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>     
    </div>

    <!-- Information about new messages -->
    <div id="messages-cont" class="container d-none">
        {% for message in filtered_messages %}
            <ul class="me-5">
                <li style="list-style: none;">
                    <a href="{% url 'conversation:detail' message.conversation_id %}" style="text-decoration: none;">
                        From {{message.sender}} about {{message.conversation.item}}
                    </a>
                </li>
            </ul>        
        {% endfor %}
        <a href="{% url 'conversation:inbox' %}" style="text-decoration: none; color: #F94A29;">
            <strong>Go to inbox <i class="bi bi-envelope" style="font-size: 1.3em;"></i></strong>
        </a>
    </div>
    
    <!-- Block content for templates -->
    {% block content %}{% endblock content %}
    <!-- End of block content -->

    <!-- Footer --> 
    <div class="mt-5">
        <footer class="text-center text-white" style="background-color: #3f51b5">
            <div class="container">
            <section class="mt-5">
                <div class="row text-center d-flex justify-content-center pt-5">
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a href="{% url 'home' %}" class="text-white">Home</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a href="{% url 'about' %}" class="text-white">About us</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a href="{% url 'contact' %}" class="text-white">Contact</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a href="{% url 'privacy' %}" class="text-white">Privacy policy</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a href="{% url 'term' %}" class="text-white">Term of use</a>
                        </h6>
                    </div>
                </div>
            </section>
            <hr class="my-3" />

            <section>
                <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p style="text-align: left;">
                        Welcome to our marketplace, your one-stop destination for all 
                        your shopping needs. We take pride in offering a diverse range 
                        of high-quality products to cater to every customer's taste and 
                        preferences. Whether you're looking for fashion apparel, electronics, 
                        home decor, or unique gifts, we've got you covered. Our platform 
                        connects buyers and sellers from around the world, providing a seamless 
                        shopping experience. Discover a wide selection of products, explore new trends, 
                        and shop with confidence knowing that we prioritize customer satisfaction. 
                    </p>
                </div>
                </div>
            </section>

            <!-- Section: Social -->
            <section class="text-center mb-3">
                <a href="https://www.facebook.com/profile.php?id=100093136788056" class="text-white me-4"><i class="bi bi-facebook"></i></a>
                <a href="https://twitter.com/frako789" class="text-white me-4"><i class="bi bi-twitter"></i></a>
                <a href="https://www.instagram.com/frako789/" class="text-white me-4"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/francisco-bojorque-857147187/" class="text-white me-4"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/frakopy" class="text-white me-4"><i class="bi bi-github"></i></a>
            </section>
            <!-- Section: Social -->
            </div>
            <div class="text-center p-3"style="background-color: rgba(0, 0, 0, 0.2)">
            © 20203 Copyright:
            <a class="text-white" href="#">frako789@gmail.com</a>
            </div>
        </footer>
    </div>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- SweetAlert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom Script -->
    <script>
        const inbox = document.getElementsByClassName("inbox")[0];
        const messageContainer = document.getElementById("messages-cont");

        console.log(messageContainer.innerHTML);

        inbox.addEventListener("click", (e) => { 
            if (e.target.classList.contains("new-messages")) {
                e.preventDefault();

                Swal.fire({
                    title: '<h1>New Messages:</h1>',
                    html:messageContainer.innerHTML,
                    showCloseButton: true,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    focusConfirm: false,
                })
            }
        })
    </script>
</body>
</html>