{% extends 'core/base.html' %}

{% block title %}Privacy Policy Page{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
        <div class="col-md-12">
            <h2>Privacy Policy</h2>
            <p>We are committed to protecting the privacy and confidentiality of our users. This Privacy Policy outlines how we collect, use, and safeguard the personal information you provide to us.</p>
            <h3>Information We Collect</h3>
            <p>When you use our website or services, we may collect certain personally identifiable information, including but not limited to:</p>
            <ul>
            <li>Full name</li>
            <li>Email address</li>
            <li>Contact information</li>
            <li>Other information you voluntarily provide</li>
            </ul>
            <h3>How We Use Your Information</h3>
            <p>We may use the information we collect from you for the following purposes:</p>
            <ul>
            <li>To provide and maintain our services</li>
            <li>To improve our website and services</li>
            <li>To respond to your inquiries or provide customer support</li>
            <li>To send you promotional and marketing communications (if you have opted in)</li>
            <li>To comply with legal obligations</li>
            </ul>
            <h3>Data Security</h3>
            <p>We implement appropriate security measures to protect the confidentiality and integrity of your personal information. However, please be aware that no method of transmission over the internet or electronic storage is completely secure.</p>
            <h3>Third-Party Websites</h3>
            <p>Our website may contain links to third-party websites. We have no control over the privacy practices or content of those websites and are not responsible for the privacy practices or content provided by them.</p>
            <h3>Updates to this Privacy Policy</h3>
            <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the revised version will be effective as of the date it is published.</p>
            <p>If you have any questions or concerns about our Privacy Policy, please contact us at frako789@gmail.com</p>
        </div>
        </div>
    </div>

{% endblock content %}
